.carousel-container {
    border: 1px solid gray;
    display: flex;
    position: relative;
}

.carousel-viewport {
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    display: inline-block;
}

.carousel-viewport::-webkit-scrollbar {
    display: none;
}

.carousel-nav {
    cursor: pointer;
    border: none;
    background: rgba(0, 0, 0, 0.4);
    height: 76px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 40px;
    z-index: 21;
    color: white;
    text-align: center;
    padding-top: 50px;
    display: none;
    font-size: 24px;
}

.carousel-nav-hover:hover {
    display: block;
    cursor: pointer;
}

.carousel-container:hover .carousel-nav-hover {
    display: block;
}

.carousel-left-nav {
    left: 0px;
}

.carousel-right-nav {
    right: 0px;
}